@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  background-color: #2f1d4d;
}
main > section {
  color: white;
}
#section-profile {
  text-align: center;
  background-color: #2f1d4d;
  padding: 20px;
}
#profile-image {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  transition: transform 0.2s;
}
#profile-image:hover {
  transform: scale(1.1, 1.1);
  border-radius: 25px;
}
#section-about {
  background-color: #24222a;
  padding: 35px;
  box-shadow: 0px 0px 10px 2px black inset;
}
#section-about-title {
  text-align: center;
  margin-top: 0;
}
.section-about-desc {
  display: flex;
  gap: 30px;
}
#section-about-desc-bernkastel {
  text-align: left;
}
#section-about-desc-erika {
  text-align: right;
}
.half-body-image {
  background-color: #404274;
  opacity: 1;
  background-image: radial-gradient(#6667b9 5px, transparent 5px),
    radial-gradient(#6667b9 5px, #404274 5px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
  height: 350px;
  border-radius: 25px;
  border-style: solid;
  border-color: #404274;
  box-shadow: 0px 0px 20px 5px black inset;
}
#section-about-name {
  transition: transform 0.2s;
  text-decoration: none;
}
#section-about-name > h1 {
  color: white;
  font-weight: normal;
  display: inline-block;
}
#section-about-name > h1:hover {
  text-decoration: underline;
  font-weight: bold;
}
#section-images-title {
  text-align: center;
  margin-top: 35px;
}
#section-images-div {
  display: flex;
  gap: 15px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  position: relative;
  margin: auto;
}
#section-images-image {
  height: 200px;
  border-style: solid;
  border-radius: 5%;
  border-color: #404274;
  transition: transform 0.2s;
}
#section-images-image:hover {
  transform: scale(1.1, 1.1);
}
footer {
  color: white;
  text-align: center;
}
footer > a {
  text-decoration: none;
  color: white;
}
footer > a:hover {
  text-decoration: underline;
  font-weight: bold;
}
